body {
   background-color: #F4EDDF;
}

p {
  font-family: Didot,Garamond,Times New Roman,serif;
  color: #6a6562;
}

h2 {
  font-family: Didot,Garamond,Times New Roman,serif;
  color: #6a6562;
  font-size: 2em;
}
/*---------HEADER---------*/

.staticHeader {
  display: block;
  width:100%;
  background-color: #F4EDDF;
  position:fixed;
  z-index:1;
  top: 0;
}

.header {
  position: relative;
  max-width: 90%;
  margin: auto;
  font-size: 12px;
  height: 180px;
}

.titleImg{
  position: absolute;
  float: left;
  max-width: 300px;
  bottom: -1px;
  left: 0;
}

.title {
  font-family: Didot,Garamond,Times New Roman,serif;
  font-size: 3em;
  color: #6a6562;
  text-align: center;
  margin-bottom: 100px;
}

.nav {
  text-align: right;
}

.navLink {
  position: relative;
  display: inline;
  padding: 20px;
  text-align: right;
  font-family: Didot,Garamond,Times New Roman,serif;
  font-size: 2em;

}

a {
  text-decoration: none;
  color: #6a6562;
}

a:hover {
  color: #30B1E3;
}

/*---------MAIN CONTENT---------*/

.lineSeparator {
  max-width: 90%;
  margin: auto;
  position: relative;
  height: 1px;
  border-bottom: 1px solid #6a6562;
}

.block {
  max-width: 90%;
  height: 150px;
  margin: auto;
  margin-bottom: 50px;
}

#aboutContainer {
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 20px;
}

#aboutContainer h1 {
  max-width: 50%;
  margin: 20px 0px 10px 50px;
  font-family: Didot,Garamond,Times New Roman,serif;
  font-size: 1.5em;
  color: #6a6562;
  text-align: left;

}

#aboutContainer p {
  max-width: 45%;
  margin: 10px 0px 20px 27px;
  font-family: Didot,Garamond,Times New Roman,serif;
  text-align: left;
  color: #6a6562;
}

#userInputContainer {
  max-width: 90%;
  margin: auto;
  border: 1px solid #6a6562;
}

#userInputFields {
  color: #6a6562;
  margin: 20px 0px 20px 20px;
}

#outPutContainer {
  max-width: 90%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid #6a6562;
  padding: 20px;
}

.button {
  font-family: Georgia;
  color: #F4EDDF;
  font-size: 15px;
  background: #3498db;
  padding: 15px;
  text-decoration: none;
  width: 130px;
  max-height: 18px;
  text-align: center;
}

.button:hover {
    background: #77bae7;
}
/*---------DEV TEAM PAGE---------*/

#team {
  max-width: 80%;
  margin: auto;
}

.teamMember {
  float: left;
  max-width: 250px;
  margin: 35px;
  text-align: center;
}

.teamPhoto {
  max-width: 300px;
}
/*---------AUTHOR PAGE---------*/

#authorContainer {
  max-width: 80%;
  margin: auto;
}

#authorContainer h2 {
  font-family: Didot,Garamond,Times New Roman,serif;
  color: #6a6562;
  padding-top: 20px;
}
.author {
  margin: 20px;
  float: left;
}

.authorPhoto {
  display: block;
  max-height: 150px;
}

.o2 {
  font-family: 'Oxygen';
}

.lora {
  font-family: 'Lora';
}

.poiret1 {
  font-family: 'Poiret One';
}

.changa {
  font-family: 'Changa One';
}

.pmarker {
  font-family: 'Permanent Marker';
}

/*---------FOOTER---------*/

.footer {
  clear: both;
  margin: 10px;
  padding: 20px;
  text-align: center;
}
